@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Matemasie-Regular;
        src: url("./../font/Matemasie-Regular.ttf");
    }

    @font-face {
        font-family: Macondo-Regular;
        src: url("./../font/Macondo-Regular.ttf");
    }

    @font-face {
        font-family: ConcertOne-Regular;
        src: url("./../font/ConcertOne-Regular.ttf");
    }

    body {
        @apply overflow-x-hidden
    }

}

@layer components {
    .nav-btn {
        @apply sm:px-6 sm:py-3 px-4 py-2 rounded-lg transition-colors font-ConcertOneRegular;
    }

    .custom_shadow {
        filter: drop-shadow(8px 25px 10px rgb(0 0 0 / 0.25));
        -webkit-filter: drop-shadow(8px 25px 10px rgb(0 0 0 / 0.25));
    }

    .post_btn {
        @apply py-1 px-2 text-xs bg-sky-200 text-sky-700 rounded-[4px] capitalize hover:bg-white transition-colors;
    }

    .input-box:not(.input-box:has(textarea)) {
        @apply flex gap-2 text-sky-500 items-center rounded-full bg-white px-3;
    }

    .input-box {
        @apply shadow-inner;
    }

    .input-box>input {
        @apply w-full py-2 outline-none bg-transparent border-none;
    }

    .contact-btn {
        @apply w-16 aspect-[1/1] grid place-content-center bg-gradient-to-br from-sky-600 to-sky-200 rounded-full text-white drop-shadow-sm text-lg capitalize shadow-md;
    }

    .active {
        @apply bg-sky-700 text-white;
    }

    .bordshadow {
        box-shadow: inset 2px 3px 10px #0003,
            inset -2px -3px 10px #fff2,
            5px 5px 10px 4px #0002,
            -5px -5px 15px #96939333;
    }

    .bg-elem {
        width: var(--width);
        animation: bgElem var(--duration) infinite linear;
        -webkit-animation: bgElem var(--duration) infinite linear;
        @apply aspect-[1/1] bg-sky-700/30 absolute rounded-3xl left-[var(--left)] translate-x-1/2 bottom-0 backdrop-blur-sm;
    }

    @keyframes bgElem {
        0% {
            bottom: -100%;
            transform: rotate(0);
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
        }

        100% {
            bottom: 140%;
            transform: rotate(var(--rotate));
            -webkit-transform: rotate(var(--rotate));
            -moz-transform: rotate(var(--rotate));
            -ms-transform: rotate(var(--rotate));
            -o-transform: rotate(var(--rotate));
        }
    }

    .user-input-box {
        @apply bg-transparent block w-9/12 m-0;
    }

    .user-input-box>input:not(.user-input-box>input[type="checkbox"]) {
        @apply py-3 px-0 pl-3 w-full h-max rounded-full outline-none shadow-inner shadow-black/10;
    }

    .submit-btn {
        @apply w-9/12 h-max py-1 bg-transparent text-sky-700 border border-sky-700 hover:border-transparent hover:text-white hover:bg-sky-700 transition-colors cursor-pointer rounded-full capitalize;
    }

    footer a:not(a:has(img)) {
        @apply text-center py-1 px-3 rounded-md;
    }

    footer a:not(a:has(img)):not(a.active) {
        @apply relative before:footerHover hover:before:w-full;
    }

    .footerHover {
        @apply w-0 h-[1px] absolute bg-white bottom-0 left-0 transition-all duration-300;
    }

    footer a.active {
        @apply bg-black/10 border;
    }
}